# Manipulate Data with Pandas and Numpy 

Python has special libraries (a collection of functions and datatypes) that expand the functionality of `Python` to make working with data a lot simpler. 

1. `Numpy` is a [library](http://www.numpy.org/) that works well with matrices and vectors. `NumPy` is a core component of the [Python scientific stack](http://www.scipy.org/index.html).

2. `Pandas` is a **Python Data Analysis** [Library](https://pandas.pydata.org/) and is a very loose acronym for **P**ython **An**alysis of **Da**taset**s** (or something like that) that provides open source, easy-to-use data structures and analysis tools which we will be using heavily throughout the rest of the semester. 

In order to use these libraries, you must `import` them into our program. This is how we tell our program to give us all the functionality of the library and use the functions when called. We often use aliases `np` and `pd` so we don't have to type out the entire library name when calling them.

In [ ]:
import numpy as np
import pandas as pd

But before we jump into `numpy` and `pandas` let's review some list functions,

In [ ]:
#Lists - an ordered series of data (Integer, Float, Objects, etc.)
a = ['Hello','World']
print(a)

#### Lists can be changed via native functions in Python

In [ ]:
#Via appending to the end
a.append('!')
print(a)

In [ ]:
#Or extending multiple items.
a.extend(['I','Am','A','List','.'])
print(a)

In [ ]:
#You can also remove an item
a.remove('World')
print(a)

In [ ]:
#Or put one back in
a.insert(1,'Hello')
print(a)

In [ ]:
#Count a number of entries
a.count('Hello')

In [ ]:
#Organize by Value
a.sort()
print(a)

In [ ]:
#Switch the order around
a.reverse()
print(a)

In [ ]:
#Grab a single item
a.pop(0)

In [ ]:
#Or clear the entire thing
a.clear()
print(a)

In [1]:
names = ['janet','vik','meg','james']

In [2]:
names[0]

'janet'

In [3]:
names[2]

'meg'

In [4]:
names.pop()

'james'

### Practice
Create an empty list. Add a set of five numbers to it. Then, iterate through that list and multiply each number by 2. Finally sort the values and print them.

## Vectors

Vectors are 1-dimensional arrays (lists) of scalars (individual numbers). They are created with `Numpy` using the function `array` and can be created directly or cast from a list:

In [ ]:
# directly created array
an_array = np.array([1,20,34,12])
print(an_array,type(an_array))

# array from list
my_list = [30,3.5,12]
an_array_from_list = np.array(my_list)
print(an_array_from_list, type(an_array_from_list))

An array is different from a list in that all the scalars must be of the same type. `Numpy` will **automatically try to cast your values** into the same type.

In [ ]:
my_list_of_strings_and_ints = ["hello",12,"15.8"]
my_string_array = np.array(my_list_of_strings_and_ints)
print(my_string_array, my_string_array.dtype)
print(my_string_array[1],type(my_string_array[1])) # 12 is now a string!

You can perform math operations on them, like multiplying, dividing, adding, and subtracting from them by another scalar or another array.

In [ ]:
my_array = np.array([11, 44, 2.4])
print('Original array: \t', my_array)

mult_array = my_array * 3
print('Multiplied by 3: \t', mult_array)

div_array = my_array / 3
print("Divided by 3: \t\t", div_array)

sub_array = my_array - 3
print("Subtracted 3 from: \t", sub_array)

add_array = my_array + 3
print("Added 3 to: \t\t", add_array)

#For a range of numbers from 2-4
new_array = np.arange(2, 5)
array_mult = my_array * new_array
print("Multiply by new array: \t", array_mult)

In [ ]:
# Numpy arrays also have shape, telling you its structure
print('my_array shape: ', my_array.shape)

We can also check each element for certain properties. It will give us a new array of type `bool`:

In [ ]:
my_array > 10

What we can then do is apply this same exact `boolean array` to our `original array` to get a new array that satisfies our condition:

In [ ]:
greater_than_10_array = my_array[my_array>10]
print(greater_than_10_array)

Finally, vectors can be indexed (sliced) in the same way as lists in `Python`:

In [ ]:
my_array[1:-1]

#### Exercise Time!!!
* create a `NumPy array` called `weather` = [20.4,7.3,51,70]
* convert from fahrenheit to celsius (°F − 32) × 5/9 = °C and store in a new variable called `celsius`
* create a new array `cold` with only those entries in celsius that are < 0
* create another array `hot` with only those entries in celsius that are > 0
* print out all arrays

## Matrices

Now that we've talked about Vectors (1-d arrays), lets talk about Matrices, which are 2-dimensional vectors. They are a bit more complicated and have a lot more properties than vectors, but they are also infinitely more useful.

Let's start. Here's a simple 2X2 matrix:

In [ ]:
first_matrix = np.array([[20,12],[30,1]])
print(first_matrix)

Matrices with an equal number of rows and columns are called **square**.

You can access rows, columns, or individual values in the matrix in a way very similar to how we would access elements or collections of elements in lists:

In [ ]:
first_matrix.shape

In [ ]:
print("First row of the matrix:\n",
      first_matrix[0,:],
      type(first_matrix[0,:]))

print("First column of the matrix:\n",
      first_matrix[:,0],
      type(first_matrix[:,0]))

print("Last element in last row of the matrix:\n",
      first_matrix[-1,-1],
      type(first_matrix[-1,-1]))

Matrices operations are slightly different from vector operations in that they can be performed **element wise with individual values or by combining two matrices**.

In [ ]:
print("Original matrix:\n", first_matrix)

scalar_addition_matrix = first_matrix + 5
print("Adding the value 5 to the matrix:\n",scalar_addition_matrix)

# you can add/subtract matrices if they are same shape
second_matrix = np.array([[1,3],[6,7]])
print("Are my first and second matrices the same shape?",
      first_matrix.shape == second_matrix.shape)

scalar_division_matrix = first_matrix / 5
print("Dividing the matrix by 5:\n",scalar_division_matrix)

#### Matrix multiplication with another matrix or a properly shaped vector

Matrices can be multiplied either with other matrices or vectors. Both cases rely on the object you're multiplying with having an appropriate shape (but not necessarily the same shape as the first matrix!).

**In order for multiplication of two matrices/vectors AxB to be defined, the number of columns in the first matrix must equal the number of rows in the second operand. The resulting new matrix will have a number of rows equal to the number of rows in the first matrix and the number of columns equal to the second matrix.**

To multiply matrices, we use a slightly different notation, calling the `dot` operator on a `NumPy` array:

In [ ]:
third_matrix = np.array([[1,2,4],[1,3,5]])
print("First matrix:\n",first_matrix, first_matrix.shape)
print("Third matrix:\n", third_matrix, third_matrix.shape)
print("First x Third:\n",first_matrix.dot(third_matrix), first_matrix.dot(third_matrix).shape)

### Practice
Mutiply two matrices of different shapes to return a final matrix of shape:
1. 3 by 3
2. vector with shape (2,)

## Pandas

So, lets begin by loading in our first dataset, the Movielens 1M dataset.

This is a file that contains ~1,000,000 movie ratings taken from a website where users can rate a variety of movies on a 1-5 rating scale. Each rating is comprised of the following information:

* A user id, represented by a number (an `int`) 
* A movie id, also an `int` 
* A rating, an `int` that should vary from 1-5 (inclusive) 
* A timestamp, recording when the rating was made in seconds since UNIX epoch time (this is standardly set to 12:00AM January 1, 1970), also an `int`

The records in this file are arranged in the following order and format:

`UserID::MovieID::Rating::Timestamp`

We will use the `read_csv` function in pandas and try to simply load the dataset **as is** into a variable (actually an object) called `ratingData` and see if that gets it into a usable format (it won't).

In [5]:
import seaborn as sns

In [6]:
data = sns.load_dataset('iris')

In [8]:
data.head(10)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

If you look at the documentation for `read_csv`, you'll see that it is very large and provides for lots of different functionality. 

As a first pass, we just passed the path to the file in as a ```string``` to the `read_csv` function, without any other arguments.

Lets take a look at the first few rows and see what we get using the `head` function on our newly loaded dataset `ratingData`. 

The `head` function returns the first 5 rows by default of the DataFrame you call it on. You can change it to be a larger or smaller number by passing in a positive `integer` into `head` as an argument like so: `ratingData.head(20)`.

The function `tail` does the exact same thing, except with the last records in the dataset.

In [ ]:
ratingData.head(20)

Ok, well that looks terrible.
Lets diagnose the problems we see: 

1. Everything is in a single column (so we can't separately look at ratings, user ids,movie ids, or timestamps)!
2. The first row is used as the name of the only column (we call this the **header**), which is no good, as the first record shouldn't be the header, but an actual record.
3. The timestamp is in a format that doesn't really tell us anything useful about when the ratings occurred.

So, lets use some of the additional functionality of `read_csv` to load this dataset in cleanly, and hopefully that will solve problems **1 and 2**.

In [ ]:
ratingData = pd.read_csv("./data/movieData/ratings.dat",
                         sep = "::",names = ['UserID','MovieID','Rating','Timestamp'])

In [ ]:
ratingData.head()

MUCH BETTER!

So, what did we just do?

The function `read_csv` has lots of functionality, as I had mentioned (and as you saw when you pulled up its documentation). One of its options is called `sep`, and allows you to provide your own separator for dividing the columns that you have in your dataset. 

The default separator for `read_csv` is the comma (`,`), since `csv` stands for **c**omma **s**eparated **v**alues. 

However, since `::` separated the fields in this dataset, we supplied that as an argument (again, as a `string`) to the argument `sep` instead.

A separate argument, `names`, allows you to pass in your own list of names, again as `strings`, to `read_csv` to be treated as the column names (or the **header**) of the dataset. Since we knew what the names for the columns should be, we put them in.

Now that our dataset looks more reasonable, lets do a couple brief sanity checks and then fix issue **3.**

## Lets do a sanity check and make sure that:

1. All our data is in the format that we expect (everything is an `int`).
2. The size of the data is what we expect.
3. The ratings range across the values we expect (1-5 and nothing else).

The property `dtypes` is accessible from our `ratingData` object, and tells us the types of the data in all of our columns (which addresses **1.**).

In [ ]:
ratingData.dtypes

In [ ]:
# 2. shape of data
shape = ratingData.shape
rows = shape[0]
columns = shape[1]
print(shape)
print(rows)
print(columns)

In [ ]:
# returns all unique values in a column
ratingData["Rating"].unique()  
# OR
print("Unique values: ", ratingData.Rating.unique())

# return number of unique values in a column
print("Number of unique values: ", ratingData.Rating.nunique())

In [ ]:
# counts the number of values for each rating from greatest to least
ratingData.Rating.value_counts()

In [9]:
# basic descriptive statistics of each column
data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [10]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [15]:
data = data.sort_values(by='sepal_length')

In [16]:
data.head()

    sepal_length  sepal_width  petal_length  petal_width species
13           4.3          3.0           1.1          0.1  setosa
42           4.4          3.2           1.3          0.2  setosa
38           4.4          3.0           1.3          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
41           4.5          2.3           1.3          0.3  setosa

In [24]:
data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [28]:
data[data['species']=='versicolor']

    sepal_length  sepal_width  petal_length  petal_width     species
57           4.9          2.4           3.3          1.0  versicolor
60           5.0          2.0           3.5          1.0  versicolor
93           5.0          2.3           3.3          1.0  versicolor
98           5.1          2.5           3.0          1.1  versicolor
59           5.2          2.7           3.9          1.4  versicolor
84           5.4          3.0           4.5          1.5  versicolor
90           5.5          2.6           4.4          1.2  versicolor
53           5.5          2.3           4.0          1.3  versicolor
81           5.5          2.4           3.7          1.0  versicolor
80           5.5          2.4           3.8          1.1  versicolor
89           5.5          2.5           4.0          1.3  versicolor
88           5.6          3.0           4.1          1.3  versicolor
66           5.6          3.0           4.5          1.5  versicolor
69           5.6          2.5           3.9          1.1  versicolor
94           5.6          2.7           4.2          1.3  versicolor
64           5.6          2.9           3.6          1.3  versicolor
79           5.7          2.6           3.5          1.0  versicolor
96           5.7          2.9           4.2          1.3  versicolor
99           5.7          2.8           4.1          1.3  versicolor
55           5.7          2.8           4.5          1.3  versicolor
95           5.7          3.0           4.2          1.2  versicolor
67           5.8          2.7           4.1          1.0  versicolor
92           5.8          2.6           4.0          1.2  versicolor
82           5.8          2.7           3.9          1.2  versicolor
61           5.9          3.0           4.2          1.5  versicolor
70           5.9          3.2           4.8          1.8  versicolor
78           6.0          2.9           4.5          1.5  versicolor
83           6.0          2.7           5.1          1.6  versicolor
85           6.0          3.4           4.5          1.6  versicolor
62           6.0          2.2           4.0          1.0  versicolor
71           6.1          2.8           4.0          1.3  versicolor
63           6.1          2.9           4.7          1.4  versicolor
73           6.1          2.8           4.7          1.2  versicolor
91           6.1          3.0           4.6          1.4  versicolor
68           6.2          2.2           4.5          1.5  versicolor
97           6.2          2.9           4.3          1.3  versicolor
72           6.3          2.5           4.9          1.5  versicolor
56           6.3          3.3           4.7          1.6  versicolor
87           6.3          2.3           4.4          1.3  versicolor
51           6.4          3.2           4.5          1.5  versicolor
74           6.4          2.9           4.3          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor
58           6.6          2.9           4.6          1.3  versicolor
75           6.6          3.0           4.4          1.4  versicolor
86           6.7          3.1           4.7          1.5  versicolor
77           6.7          3.0           5.0          1.7  versicolor
65           6.7          3.1           4.4          1.4  versicolor
76           6.8          2.8           4.8          1.4  versicolor
52           6.9          3.1           4.9          1.5  versicolor
50           7.0          3.2           4.7          1.4  versicolor

In [ ]:
# get individual stats
print(ratingData.Rating.mean())
print(ratingData.Rating.quantile(.25))
print(ratingData.Rating.count())

Now that you have a bit of **pandas** functionality at your disposal, you should be able to give me the answer to the following questions:

1. How many users are there in the dataset?
2. How many movies are in the dataset?
3. What is the median rating in the dataset?

In [ ]:
## WRITE YOUR CODE HERE
numUsers = 
numMovies = 
medRating = 

print("There are",numUsers,"unique users,",numMovies,\
" unique movies, with a median rating of",medRating)

## Subsetting the Data Set
Often times you will not need all of the data so learning how to pick out what you want is important. 

1. Select some columns on:
    1. Column Name or Index using loc/iloc (also applies to rows)
2. Select some rows
    1. Boolean mask
    2. Column criteria
3. Aggregation into groups

In [ ]:
# access multiple columns
ratingData[["Rating","UserID"]]
##OR
multipleColumns = ["Rating","UserID"]
ratingData[multipleColumns].head()

In [ ]:
# access columns using index
ratingData.iloc[:,0:-1]

In [ ]:
# create small slice of dataset
small = ratingData.iloc[0:5]
small

In [ ]:
sorted_small = small.sort_values(by='MovieID')
sorted_small

In [ ]:
# returns the row with the explicit index value
print(sorted_small.loc[0])

In [ ]:
# returns the row with the implicit index location
print(sorted_small.iloc[0])

Subselection using masks/column conditions:

1. You create a condition that can be evaluated to either **true** or **false** for every row in the dataset and store the outcome in a variable (this is traditionally called a **mask**).
2. You apply that **mask** onto your `DataFrame` (dataset).

Let's try this subselection + application with the ratings in our dataset by only getting all of the really low ratings (lets say low ratings are those that are < 3) in our dataset.

We will create a mask that expresses our "crappy ratings" condition, and then apply that mask to our dataset.

In [ ]:
crappyRatingMask = ratingData.Rating < 3
print("Crappy rating mask:\n",crappyRatingMask.head())

#Contains only rows that were true in the mask
crappyRatings = ratingData[crappyRatingMask] 
crappyRatings

In [ ]:
# sanity check of rating values
print(crappyRatings.Rating.unique())

If you want to save the crappy mask as a column for future reference:

In [ ]:
ratingData['Crappy_Movie'] = ratingData.Rating < 3

In [ ]:
ratingData.tail(20)

In [ ]:
# returns same as boolean mask
ratingData[ratingData.Crappy_Movie]

In [ ]:
print(crappyRatings.shape)

## Aggregating Data
Awesome, now that you know how to do some basic subselection, sorting, and calculations on data, we are going to do something a bit more complicated, and start subdividing our data into groups to be able to answer some more general questions about our dataset.

Once you have this functionality down, you will be able to: 

1. Answer more interesting kinds of questions
* Answer the questions above using fewer lines of code 

Lets say you wanted to know or do the following:

1. **In what month did users rate the most movies?**
2. **What day of the week had the highest average rating?**

Our approach here will be:

* Convert timestamp into date time
* Use the `groupby` functionality of **pandas** to create subgroups of our ratings based on the `month` the ratings were given.
* Apply an aggregating function to these groups to return:
  * The `size` of each group (each `month`)
  * The `mean` of the `Rating` column within each group

Grouping can get very complicated, but as a first pass you can think of it as a way to split your dataset into non-overlapping subsets along any axis (along rows or columns, in our case). 

The values along which you **group** your dataset are traditionally called **keys**, so **each key should be unique to each group, and each group can have at most one key associated with it** .

Once you've grouped your dataset, the `GroupBy` object isn't too useful by itself. It becomes useful when you apply a **transformation** to it and get a new dataset back. 

We typically call this **transformation** an **aggregation**, as we are getting some aggregate value back for each group.

The **aggregation** functions we will be using for questions **1. and 2.** are `size` and `mean`.

Let's first convert the timestamp column into a recognizable time format for pandas to evaluate.

In [ ]:
## Lets create a new column by formatting our Timestamp column
ratingData['FormattedTimestamp'] = pd.to_datetime(ratingData.Timestamp,unit = 's')
del ratingData["Timestamp"]
ratingData.head()

The **dt module** allows you to access specific datetime properties and returns a `Series` object which is how pandas represents a single column. 

`Series` objects are different from `DataFrame` objects (which we've been working with exclusively thus far) because they can be appended (attached) as new columns to your dataset (which is already a `DataFrame` object) without any problems.

So if you want to store the `month` of every row in a new column called `month` then do:

In [ ]:
ratingData["month"] = ratingData.FormattedTimestamp.dt.month

In [ ]:
ratingData.head()

Now we know the months so we can answer our first question...

1. **In what month did users rate the most movies?**

In [ ]:
monthGroups = ratingData.groupby("month")
# group by multiple columns: need to pass a list of them ["year","month"]

In [ ]:
# We get the number of records (rows) in each group in our monthGroups object 
# using the size function (which is accessible from this object):
ratingsPerMonth = monthGroups.size()
ratingsPerMonth

In [ ]:
# return month with most ratings
monthWithMostRatings = ratingsPerMonth[ratingsPerMonth==ratingsPerMonth.max()]
monthWithMostRatings

Now you answer:
2. **What day of the week had the highest average rating?**